# Google Sheets
GOOGLE_SHEETS_API_KEY=your_api_key_here
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id_here
GOOGLE_SHEETS_RANGE=...
GOOGLE_SHEETS_BANPEM_RANGE=...
EXPORT_TOKEN=...


# API server
PORT=4000
CORS_ORIGIN=http://localhost:3000
GOOGLE_SHEETS_NERACA_RANGE=NamaSheetNeracaAnda!A:O
